<br/>
<div style="background-color: #e0e0e0; padding: 5px; text-align: center;">
<h1> You reached your upload limit </h1>
    <p style="font-size: 15px">*You will be redirect to home page within 5 sec</p>
<a href="/"><button class="btn btn-primary">Click here to go back to homepage</button></a>
</div>