<br/>
<div id="edit-user" style="background-color: #e0e0e0; border-radius: 15px; padding: 5px; text-align: center;">
<h1> Your ad is ready</h1>
    <p style="font-size: 15px">*You will be redirect to home page within 5 sec</p>
<a href="/"><button class="btn btn-primary">Click here to go back to homepage</button></a
  </div></div>
<script>

    
    setTimeout(function (){

    window.location = "/";

    }, 3000); 
</script>

<style>
    #main {
        margin-left: 0;
    }
</style>

