<body id="login">
   <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
   </head>

<div>
    <section class="module parallax parallax-1">
  <div class="container" id="con" style="text-align: center;">
    <h1 style="color: rgba(255, 255, 255, 0.8);">PIXEL<span style="color: rgb(255, 255, 255);">ML</span></h1>
    <h2 style="text-align: center;">Instant feedback for your ads</h2>
      <!-- <button class="btn btn-success" style="font-size: 29px;">How it works</button> -->
  </div>
</section>

        <div class="card-images" style="background-color: #303030; min-width: 265px; border-color: #e4e6e5;">
            <div id="list" style="min-height: 220px; background-color: #333333 !important; background: none;">
                <br>
                <h1 style="font-size: 60px;">How it works</h1>
              <ul class="list-group" style="font-size: 35px;">
                <li class="list-group-item">1) Upload your ad <span class="glyphicon glyphicon-upload"></span></li>
                <li class="list-group-item">2) Get your results <b>instantly </b> <span class="glyphicon glyphicon-heart-empty"></span></li>
              </ul>
              <div class="frontpage">
              </div>
              </div>
          </div>
          
<section class="module content">
  <div class="container" style="text-align: center; color: white">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <!--
        <h2>Make your ad perfect</h2>
        <p>Pixelml analyzes your ad and offers instant suggestions</p>
        -->
        <div class="card-images" style="background-color: #303030; min-width: 265px; border-color: #e4e6e5;">
                         <img src="https://s3-us-west-1.amazonaws.com/techauriga/static_img/loading1.gif" id="eximage">
                         <div class="container-images" style="background-color: transparent; height: 100%;">
                            <h3><b>Example ad</b></h3>
                            <p>Clarity of ad: 80%</p>
                            <div class="progress">
                              <div class="progress-bar progress-bar-custom bar1" role="progressbar" aria-valuenow="80" 
                              aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                              </div>
                            </div>
                            <p>Ad Memorability: 100%</p>
                            <div class="progress">
                              <div class="progress-bar progress-bar-custom bar2" role="progressbar" aria-valuenow="100" 
                              aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                              </div>
                            </div> 
                            <p>Attention Grab: 30%</p>
                            <div class="progress">
                              <div class="progress-bar progress-bar-custom bar3" role="progressbar" aria-valuenow="30" 
                              aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                              </div>
                            </div>                         
                            <p>Rating of ad: <b>7/10</b></p>
                         </div>
                  </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
    
        <div class="card-images" style="background-color: #303030; min-width: 265px; border-color: #e4e6e5;">
            <div id="list">
                <br>
                <h2> Start Today</h2>
                <div class="cd-price">
              	<span class="cd-currency">$</span>
              	<span class="cd-value">0</span>
              	<span class="cd-duration">/mo</span>
              	</div>
              <ul class="list-group">
                <li class="list-group-item">Free forever</li>
                <li class="list-group-item">Instant feedback</li>
                <li class="list-group-item">Free support</li>
              </ul>
              <div class="frontpage">
              <a href="/users/sign_up">
              <button type="button" class="btn btn-primary btn-lg">Sign up!</button>
              </a>
              </div>
              </div>
          </div>
    </div>
    </div>
  </div>
</section>

</div>
<script>
  setTimeout(
  function() 
  {
    $("#eximage").hide();
    $("#eximage").attr("src","../example-ad.jpg");
    $("#eximage").fadeIn(2000);
  }, 1000);
</script>
<style>
body
{
background-color: rgb(66, 66, 66);

}

#con {
  max-width: 960px;
  margin: 0 auto;
  color: white;
}
h1
{
  color: white;
}
section.module.content {
  color: white;
  padding-top: 25px;
}
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1{
  font-size: 48px;
  text-align: center;
  // line-height: 400px;
  line-height: 250px;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
  background-image: url("../bg6.jpg");
  
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}
</style>