<body id="login">
   <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
   </head>

	<div class="slide story" id="slide-1" data-slide="1">
		<div class="container">
			<div id="home-row-1" class="row clearfix">
				<div class="col-12">
					<h1 class="font-semibold">PIXEL<span class="font-thin">ML</span></h1>
					<h4 class="font-thin">Instant <span class="font-semibold">feedback </span> for your ads.</h4>
					<br>
					<br>
					<a href="/users/sign_up"><button type="button" class="btn btn-primary" style="font-size:25px; background-color: #21ce99; border-color: #1ebc8c;">Join free for a month </button></a>
					
					<br/>
					<br/>
					<br/>
					<div style="max-width: 500px; margin: 0 auto;">
					<div class="embed-responsive embed-responsive-16by9">
					 <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/PUhoCAz_0-Q?rel=0&amp;controls=1&amp;showinfo=0"  allowfullscreen></iframe>
					</div>
					</div>
				</div><!-- /col-12 -->
			</div><!-- /row -->
			<!-- 
			<div id="home-row-2" class="row clearfix">
				<div class="col-12 col-sm-4"><div class="home-hover navigation-slide" data-slide="4"><img src="../c3.png"></div><span>PROFESSIONAL</span></div>
				<div class="col-12 col-sm-4"><div class="home-hover navigation-slide" data-slide="3"><img src="../c2.png"></div><span>PROVEN</span></div>
				<div class="col-12 col-sm-4"><div class="home-hover navigation-slide" data-slide="5"><img src="../c1.png"></div><span>FREE FOREVER</span></div>
			</div>  --><!-- /row -->
		</div><!-- /container -->
	</div><!-- /slide1 -->

		<!-- === Slide 3 === -->
	<div class="slide story" id="slide-3" data-slide="2">
		<div class="container">
			<div class="row title-row">
				<div class="col-12 font-thin">How it <span class="font-semibold">works</span> </div>
			</div><!-- /row -->
			<div class="row subtitle-row">
<div class="list-group">
  <a class="list-group-item active" style="background-color: #21ce99;">
    <h2 class="list-group-item-heading">Upload your ad</h2>
    <p class="list-group-item-text" style="color: #c7efd5;">Saved on Amazon's secure server</p>
  </a>
</div>
<br>
<div class="list-group">
  <a class="list-group-item active" style="background-color: #21ce99;">
    <h2 class="list-group-item-heading">Ad gets analyzed</h2>
    <p class="list-group-item-text" style="color: #c7efd5;">By highly advanced machine learning algorithms</p>
  </a>
</div>
<br>
<div class="list-group">
  <a class="list-group-item active" style="background-color: #21ce99;">
    <h2 class="list-group-item-heading">Get results</h2>
    <p class="list-group-item-text" style="color: #c7efd5;">See what you can improve on</p>
  </a>
</div>

			</div><!-- /row -->

		</div><!-- /container -->
	</div><!-- /slide3 -->
	<!--
	<div class="slide story" id="slide-3" data-slide="2">
		<div class="container">
			<div class="row title-row">
				<div class="col-12 font-thin">What exactly gets analyzed<span class="font-semibold"> and how? </span> </div>
			</div>
			<div class="row subtitle-row">
            <div class="card-images" style="max-width: 350px;"> 
                    <img src="https://placehold.it/900x500" alt="example ad" id="pic-image"/>
                    <div class="container-images" style="background-color: #333333;">
                        <h2 style="color: white;"><b>How algorithm works</b></h2>
                        <p>By using a nerual network (computer like brain)</p>
                        <p>We trained a computer to find patterns in good and bad advertisements</p>
                        <p>With those patterns, we can provide a rating on how good your ad is</p>
                    </div>
            </div>
            <br/>
            <div class="list-group">
			  <div class="list-group-item active" style="background-color: #21ce99;">
			    <h2 class="list-group-item-heading">What exactly gets analyzed</h2>
			    </div>
			    <div style="background-color: #0d996e; padding-top: 10px; padding-bottom: 10px;">
			    <p class="list-group-item-text" style="color: #c7efd5;">Color of the ad</p>
			    <p class="list-group-item-text" style="color: #c7efd5;">Text</p>
			    <p class="list-group-item-text" style="color: #c7efd5;">Objects in your ad</p>
			    <p class="list-group-item-text" style="color: #c7efd5;">How clear your ad is</p>
			    <p class="list-group-item-text" style="color: #c7efd5;">The contrast and brightness</p>
			    </div>
			  </div>
			</div>
			</div>

		</div>
	</div>-->
	<div class="slide story" id="" data-slide="2" style="background: #485563;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">
		<div class="container">
			<div class="row title-row">
				<div class="col-12 font-thin" style="color: white;">How the<span class="font-semibold"> algorithm </span> works  </div>
			</div>
			<br>
            <div class="card-images" style="max-width: 350px;"> 
                    <img src="https://placehold.it/900x500" alt="example ad" id="pic-image"/>
                    <div class="container-images" style="background-color: #333333; color: white;">
                        <h2 style="color: white;"><b>How algorithm works</b></h2>
                        <p>By using a nerual network (computer like brain)</p>
                        <p>We trained a computer to find patterns in good and bad advertisements</p>
                        <p>With those patterns, we can provide a rating on how good your ad is</p>
                    </div>
            </div>
            <br/>
            <div class="list-group">
			  <div class="list-group-item active" style="background-color: #21ce99;">
			    <h2 class="list-group-item-heading">What exactly gets analyzed</h2>
			    </div>
			    <div style="background-color: #0d996e; padding-top: 10px; padding-bottom: 10px; color: #white;">
			    	
			    <p class="list-group-item-text" >Color of the ad</p>
			    <p class="list-group-item-text" >Text</p>
			    <p class="list-group-item-text" >Objects in your ad</p>
			    <p class="list-group-item-text" >How clear your ad is</p>
			    <p class="list-group-item-text" >The contrast and brightness</p>
			    </div>
			  </div>
			</div>
		</div><!-- /container -->
	</div><!-- /slide2 -->
	<!-- === Slide 2 === -->
	<div class="slide story" id="slide-2" data-slide="2">
		<div class="container">
			<div class="row title-row">
				<div class="col-12 font-thin">What will you receive <span class="font-semibold"> </span>  </div>
			</div>
			<br>
			<!-- 
			<div class="row line-row">
				<div class="hr">&nbsp;</div>
			</div>
			<div class="row subtitle-row">
				<div class="col-12 font-thin"> <span class="font-semibold">Benefits</span></div>
			</div> -->
			<div class="row content-row">
				<div class="col-12 col-lg-3 col-sm-6">
					<p><i class="icon icon-eye-open"></i></p>
					<h2 class="font-thin"> <span class="font-semibold">Instant</span> results</h2>
					<h4 class="font-thin">By using <b>machine learning</b>, we can provide instant human-like feedback quickly and accuratly</h4>
				</div><!-- /col12 -->
				<div class="col-12 col-lg-3 col-sm-6">
					<p><i class="icon icon-laptop"></i></p>
					<h2 class="font-thin">Great <span class="font-semibold">Support</span></h2>
					<h4 class="font-thin">We understand how important <b>great marketing</b> is. Thats why we support you all the way.</h4>
				</div><!-- /col12 -->
				<div class="col-12 col-lg-3 col-sm-6">
					<p><i class="icon icon-tablet"></i></p>
					<h2 class="font-thin"><span class="font-semibold">Secure</span></h2>
					<h4 class="font-thin"> We are hosted on <b>Amazon Web Services</b> and <b>Google Cloud </b> with security in mind</h4>
				</div><!-- /col12 -->
				<div class="col-12 col-lg-3 col-sm-6">
					<p><i class="icon icon-pencil"></i></p>
					<h2 class="font-thin"> <span class="font-semibold">Reliable</span></h2>
					<h4 class="font-thin">By using <b>machine learning</b>, we can remove the human biases on reviewing ads</h4>
				</div><!-- /col12 -->
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /slide2 -->
<!--
<div id="free-list">
  <br>
  <h2> Free Trial</h2>
  <div class="cd-price">
						<span class="cd-currency">$</span>
						<span class="cd-value">0</span>
						<span class="cd-duration-free">/mo</span>
	</div>
<ul class="list-group">
  <li class="list-group-item">5 Uploads Per month</li>
  <li class="list-group-item ">New weekly content</li>
  <li class="list-group-item">Become the new you</li>
  <li class="list-group-item">Be more successful</li>
  <li class="list-group-item">Easy to start </li>
</ul>
<br>
<div class="frontpage">
<a href="/users/sign_up">
<button type="button" class="btn btn-primary" style="font-size: 25px;">Sign up</button>
</a>
</div>
</div>
-->
<div id="list">
  <br>
  <h2> Pricing </h2>
  <div class="cd-price">
						<span class="cd-currency">$</span>
						<span class="cd-value">25</span>
						<span class="cd-duration">/mo</span>
	</div>
<ul class="list-group">
  <li class="list-group-item">Instant results</li>
  <li class="list-group-item">Unlimited uploads</li>
  <li class="list-group-item">Free Trial Available</li>
  <li class="list-group-item">Cancel anytime</li>
  <li class="list-group-item">Great support</li>
</ul>
<br>
<div class="frontpage">
<a href="/users/sign_up">
<button type="button" class="btn btn-primary btn-lg">Subscribe!</button>
</a>
</div>
</div>

    <footer class="footer">
      <div class="container">
        <!--<p class="text-muted">Place sticky footer content here.</p> -->
        <ul class="list-group list-inline">
		  <li class="list-group-item text-muted"><a href="/about">About us</a></li>
		  <li class="list-group-item text-muted"><a href="/support">Contact & support</a></li>
		  <li class="list-group-item text-muted"><a href="/privacy">Privacy policy</a></li>
		  <!-- 
		  <li class="list-group-item"></li>
		  <li class="list-group-item"></li> -->
		  <style>
		  	a {
		  		text-decoration : none; 
		  		color : #636c72;
		  	}
		  	a:hover{
			    text-decoration: none;
			    color: #636c72;
			}
		  </style>
		</ul>
      </div>
    </footer>
