<body id="login">
   <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
   </head>
<div style="height: 120%; width: 100%;">   
      <br/>
      <br/>
      <div class="container" style=" text-align: center">
          <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12" style="color: black;">
                  <h1 class="font-semibold" style="font-size: 50px;">TECH<span class="font-thin"> AURIGA</span></h1>
                     <h4 class="font-thin" style="font-size: 30px;">Make your ad<span class="font-semibold"> perfect </span>  </h4>
                  <br>
                   <h5 class="font-thin" style="font-size: 25px;">Instant feedback for your ads</h5>
                  <br>
               <a href="/users/sign_up">
                  <button type="button" class="btn btn-primary"style="font-size:22px; background-color: #21ce99; border-color: #1ebc8c" >
                     Start Today For Free
                  </button></a>
                  
                  <br/>
                  <br/>
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" 
                    aria-haspopup="true" aria-expanded="false"
                    style="font-size:22px; background-color: #21ce99; border-color: #1ebc8c"
                    >
                      Features <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="#">Free forever</a></li>
                      <li><a href="#">Instant feedback</a></li>
                      <li><a href="#">24/7 Support</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#"></a></li>
                    </ul>
                  </div>
                 </div>
                 <div class="col-md-6 col-sm-6 col-xs-12" style="color: white;">
                    <br/>
                  <div class="card-images" style="background: linear-gradient(180deg, #000000, #3e3e3e); min-width: 265px; border-color: #e4e6e5;">
                     <img src="https://s3-us-west-1.amazonaws.com/techauriga/static_img/loading1.gif"/>
                     <div class="container-images" style="background-color: transparent; height: 100%;">
                        <h3><b>Insert your ad here</b></h3>
                        <p>Techauriga analyzes your ad and offers <b>instant </b>suggestions</p>
                        
                        <p>Rating of ad: <b>10/10</b></p>
                     </div>
                     </div>
              </div>
          </div>
      </div>
</div>
</body>
