<% if user_signed_in? %>

<div id="mySidenav" class="sidenav">
   <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
   <div id="welcome"style="text-align: center; color: white">
      <p>Welcome </p>
      <p style="font-size: 15px;"><%= current_user.email %></p>
   </div>
   <div id='cssmenu'>
      <ul>
         <li class='active'><a href='/'>Home</a></li>
         <li><a href='/results'>All Results</a></li>
         <li><a href='/subscribers'>Pricing</a></li>
         <li><a href='/support'>Support</a></li>
      </ul>
   </div>
</div>
<!-- <span onclick="openNav()">open</span> -->
<button type="button" class="btn btn-default" aria-label="Left Align" onclick="openNav()"> 
<span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
</button>
<div id="main2">
   <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12" style="padding-left: 40px; padding-right: 40px; padding-top: 15px;">
         <div class="col-md-12 col-sm-12 col-xs-12" style="background-color: rgba(60, 60, 60, .8); box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); border-radius: 5px;"><!--rgba(209, 209, 209,.8) -->
            <div class="dashboard_graph">
               <div class="row x_title">
                  <div class="col-md-6" id="left-side">
                     <h3 style="color:white">Most Recent Result<small></small></h3>
                  </div>
                  <div class="col-md-6">
                  </div>
               </div>
               <div class="col-md-6 col-sm-6 col-xs-12">
                  <% @images.where(author:  current_user.email).each do |ad| %>				                		
                  <%= react_component("Post", {
                  title: ad.title, image: ad.image.url, feed: ad.recon, rating: ad.rating, status: ad.adstatus, 
                  calltoaction: ad.feedback, colorstatus: ad.adcolor}, {prerender: true}) %>
                  <% end %>
                  <% if @images.where(author:  current_user.email).length == 0 %>
                  <div>
                     <div class="card-images">
                        <div style="width: 100%; height: 150px; background-color: #939393;" class="details">
                           <div style="text-align: center; color: white; line-height: 150px; font-size: 25px;">Example ad</div>
                        </div>
                        <div class="container-images">
                           <h2><b>Title of your ad</b></h2>
                           <p><b>Feedback: </b></p>
                           <p>This section is where you get feedback for your ad</p>
                           <p><b>Clarity of ad: </b> How clear your ad is. Having too much text can hurt your ad</p>
                           <p><b>Ad Memorability: </b> How unique your ad is. How easy it is to remember it</p>
                           <p><b>Attention Grab: </b> How much of your ad that pops out. Depending on your ad style, this section might not be helpful</p>
                           <div id="break" style="width: 100%; height: 30px; background-color: transparent"></div>
                           <p><b>Overall Rating: (Final score goes here)/10</b></p>
                        </div>
                     </div>
                     <br/>
                  </div>
                  <!-- <div style="height: 200px;"></div> -->
                  <% end %>  
                  <script>
                      $(document).on('ready',function(){
                        $('.progress .progress-bar').css("width",function() {
                          return $(this).attr("aria-valuenow") + "%";
                        })
                      })
                    </script>
               </div>
               <div class="col-md-6 col-sm-6 col-xs-12 bg-white" id="right-side">
                  <div class="x_title">
                     <!-- <h3>Perfomance</h3> -->
                     <div class="clearfix"></div>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12" style="margin: 0 auto;">
                     <%= render :template => "pages/new" %>
                  </div>
                 
                
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    
                     <br/>
                     <% if current_user.subscribed? %>
                     <!-- PAID USER -->
                     <div class="alert alert-success card-images">
                        <strong>Congratulations</strong> You are <b>subscribed</b>!!
                        <br/>
                     </div>
                  </div>
                 <% else %>
                 
                <% if current_user.limit > 0 %>		
                     <div class="alert alert-warning card-images">
                        <strong>Warning!</strong> You have <b><%= current_user.limit %> uploads </b> left for this month
                        <br/>
                        <a href="/subscribers"><button class="btn btn-warning">Subscribe</button></a>
                     </div>
                     <% else %>
                     <div class="alert alert-danger card-images">
                        <strong>Warning!</strong> You have 0 uploads left for this month
                        <br/>
                        <a href="/subscribers"><button class="btn btn-danger">Subscribe</button></a>
                     </div>
                     <script>
                        alert("You have 0 uploads left for this month");
                     </script>
                     <% end %>
                 <% end %>
                 <div class="col-md-12 col-sm-12 col-xs-12" style="display: none;" id="helpfeedback">
                     <br/>
                     <div class="alert alert-success card-images">
                        <p>Help</p>
                        <br/>
                     </div>
                  </div>
               </div>
               <!--<div class="clearfix"></div> -->
            </div>
         </div>
      </div>
   </div>
   <br/> 
   <!--
      <div class="row" style="padding-left: 22px; padding-right: 22px; padding-top: 10px;">
              <div class="col-md-4 col-sm-4 col-xs-12" style="">
                <div class="x_panel tile fixed_height_320" style="background-color: white">
                  <div class="x_title">
                    <h4 style="text-align: center; padding-top: 15px">Upload New Ad</h4>
                     <div style="margin: 0 auto; text-align: center; padding-top: 15px;">
                     	
                     </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
      
      
                  </div>
                </div>
              </div>
      
              <div class="col-md-4 col-sm-4 col-xs-12" >
                <div class="x_panel tile fixed_height_320 overflow_hidden" style="background-color: white">
                  <div class="x_title">
                    <h4>Device Usage</h4>
                    <hr>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
      
                  </div>
                </div>
              </div>
      
      
              <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="x_panel tile fixed_height_320" style="background-color: white">
                  <div class="x_title">
                    <h4>Quick Settings</h4>
                    <hr>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                  </div>
                </div> 
              </div> 
      </div> --><!-- end of row -->
</div>
<!-- End of main div -->
<br/>
<br/>
<% else %>
<body id="login">
   <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
   </head>
   <body>
      <!-- === Arrows === -->
      <div id="arrows">
         <div id="arrow-up" class="disabled"></div>
         <div id="arrow-down"></div>
         <div id="arrow-left" class="disabled visible-lg"></div>
         <div id="arrow-right" class="disabled visible-lg"></div>
      </div>
      <!-- /.arrows -->
      <!-- === MAIN Background === -->
      <div class="slide story" id="slide-1" data-slide="1">
         <div class="container">
            <div id="home-row-1" class="row clearfix">
               <div class="col-12">
                  <h1 class="font-semibold">TECH<span class="font-thin"> AURIGA</span></h1>
                  <h4 class="font-thin">Get <span class="font-semibold"> instant feedback </span> on your online advertisements </h4>
                  <br>
                  <br>
                  <a href="/users/sign_up"><button type="button" class="btn btn-primary" style="font-size:22px;">Start Today For Free</button></a>
               </div>
               <!-- /col-12 -->
            </div>
            <!-- /row -->
            <!-- 
               <div id="home-row-2" class="row clearfix">
               	<div class="col-12 col-sm-4"><div class="home-hover navigation-slide" data-slide="4"><img src="../c3.png"></div><span>PROFESSIONAL</span></div>
               	<div class="col-12 col-sm-4"><div class="home-hover navigation-slide" data-slide="3"><img src="../c2.png"></div><span>PROVEN</span></div>
               	<div class="col-12 col-sm-4"><div class="home-hover navigation-slide" data-slide="5"><img src="../c1.png"></div><span>FREE FOREVER</span></div>
               </div>  --><!-- /row -->
            <br/>
            <br/>
            <div class="card-images" style="background-color: rgba(0, 187, 255,0.2); width: 35%; min-width: 300px;">
               <img src="http://placehold.it/350x150" alt="" id="ad-image"/>
               <div class="container-images" style="background-color: transparent;">
                  <h3><b>Insert your ad here</b></h3>
                  <p>By using machine learning, our algorithm will give you instant feedback on your ads</p>
                  <hr/>
                  <p>Rating of ad: <b>10/10</b></p>
               </div>
            </div>
         </div>
         <!-- /container -->
      </div>
      <!-- /slide1 -->
      <!--
         <div id="free-list">
           <br>
           <h2> Start Today </h2>
           <div class="cd-price">
         						<span class="cd-currency">$</span>
         						<span class="cd-value">0</span>
         						<span class="cd-duration-free">/mo</span>
         	</div>
         <ul class="list-group">
           <li class="list-group-item">Free forever</li>
           <li class="list-group-item ">Get feedback on your ads by machine learning</li>
           <li class="list-group-item">See how your ad compares others</li>
           <li class="list-group-item">Get human feedback as well</li>
           <li class="list-group-item"></li>
         </ul>
         <br>
         <div class="frontpage">
         <a href="/users/sign_up">
         <button type="button" class="btn btn-primary btn-lg">Sign up</button>
         </a>
         </div>
         </div>
         
         <div id="list">
           <br>
           <h2> Premium </h2>
           <div class="cd-price">
         						<span class="cd-currency">$</span>
         						<span class="cd-value">20</span>
         						<span class="cd-duration">/mo</span>
         	</div>
         <ul class="list-group">
           <li class="list-group-item">Everything above</li>
           <li class="list-group-item">Get professional humman feedback as well</li>
           <li class="list-group-item">24/7 Support</li>
           <li class="list-group-item">Cancel anytime</li>
           <li class="list-group-item"></li>
         </ul>
         <br>
         <div class="frontpage">
         <a href="/users/sign_up">
         <button type="button" class="btn btn-primary btn-lg">Subscribe!</button>
         </a>
         </div>
         </div>
         -->
</body>
<% end %>