<%= form_tag subscriber_path(1), method: :put do %>


<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription to tech auriga"
          data-amount="1000"></script><br><!--<span> $10 per month, cancel at any time.</span> --> 
          <span><p>Coming soon!</p></span>
<% end %>       